@charset "UTF-8";

*{
  margin:0%;
  padding:0%;
  box-sizing: border-box;
}
body{
  background: linear-gradient(236.85deg, rgba(78, 239, 234, 0.857) 27.26%, rgb(30, 251, 144) 96.03%);  }

  .corazul > h1{
    font-size: 16px;
  }



.corazul{
  background: linear-gradient(236.85deg, rgb(25, 0, 255) 00.26%, rgb(0, 76, 255) 100.00%);
padding-top: 7px;
border-width: 3px;
border-style: solid;
color: aliceblue;
padding-bottom: 10px;
text-align: center;
}

.mudacor:hover{
  background-color: rgb(0, 255, 234);
  transition-duration: 0.98s;
  border-radius: 8px;
}

a{
  text-decoration: none;
  text-decoration: none;
  color:  rgb(194, 190, 190);
  font-size: 9px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  font-weight: bold;
  box-shadow: 1px 1px 3px 1px #1701018f;
  border-radius: 7px;

}

h1{
  font-size: 20px;
  margin: 20px;
  padding: 2px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.precos{
font-size: 20px;
margin: 7%;
text-align: center;
background-color: aliceblue;
border-radius: 20px;
padding: 20px;
box-shadow: 1px 1px 6px 4px rgba(25, 0, 255, 0.489);
font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.exemploft1{
width: 320px;
border-radius: 10px;
box-shadow: 1px 1px 6px 4px rgba(8, 59, 223, 0.692);
margin: 19px;
}
  
.exemplovd1{
width: 320px;
border-radius: 10px;
 box-shadow: 1px 1px 6px 4px rgba(8, 59, 223, 0.692);
margin:19px;
}

.vznplay{
font-size:10px;
text-align:center;
margin-top: 50px;  

}
